{% extends 'base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">List Video</h1>
        </div>

        <div class="row">
            <div class="col-xl col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">video Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Total Comment</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each in all_video %}
                                        <tr>
                                            <td><a href="{{ url_for('result', video_id=each[0]) }}">{{ each[0] }}</a></td>
                                            <td>{{ each[1] }}</td>
                                            <td>{{ each[2] }}</td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}