{% extends 'base.html' %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row py-3">
            <div class="col-xl col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">List Video</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="align-middle" scope="col">video Id</th>
                                    <th class="align-middle" scope="col">Title</th>
                                    <th class="align-middle" scope="col">Created At</th>
                                    <th class="align-middle" scope="col">Crawled At</th>
                                    <th class="align-middle" scope="col">Comments</th>
                                    <th class="align-middle" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in all_video %}
                                    <tr>
                                        <td class="align-middle" width="10%">
                                            <a href="{{ url_for('result', video_id=each['videoId']) }}">
                                                {{ each['videoId'] }}
                                            </a>
                                        </td>
                                        <td class="align-middle" width="35%">{{ each['title'] }}</td>
                                        <td class="align-middle" width="15%">{{ each['createdAt'] }}</td>
                                        <td class="align-middle" width="15%">{{ each['crawledAt']}}</td>
                                        <td class="align-middle" width="10%">{{ each['totalComments']}}</td>
                                        <td class="" width="30%">
                                            <a class="btn btn-success btn-sm" href="{{ url_for('download_dataset_by_video_id', video_id=each['videoId']) }}" role="button">
                                                Download
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="{{ url_for('delete_video', video_id=each['videoId']) }}" role="button">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}